.Container-headerbar{
  height: 80px;
  background-color: #fff;
  width: 100%;
  padding:0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  z-index:2;





  .Container-headerbar-log{
    height: 80px;
    position: static!important;
    display:inline-block;
    background-color: #5eb9f0;
  }







  .Container-headerbar-btn{
    height: 80px;
    width: 0.9%;
    line-height: 80px;
    position: static!important;
    display: inline-block;
    border:none;
    background-color: #fff;
    padding:0;
    margin-left:1.3%!important;
    .x-btn-icon-el{
      font-size: 20px;
    }
    span{
      background-color: #fff;
    }
    :active{
      background-color: #fff;
    }
  }
}


