.Wrapper-headerbar {
  border-bottom: 1px solid #ccc !important;
  .Wrapper-headerbar-btn {
    line-height: 60px;
    right: 10px !important;
    left: auto !important;
    height: 30px;
    width: 100px;
    background-color: #5db9f0;
    border-radius: 5px;
    span {
      color: #fff !important;
    }
  }
  .Wrapper-headerbar-search {
    right: 130px !important;
    left: auto !important;
    .x-form-trigger-wrap {
      border-radius: 44px;
      .x-form-text-wrap, .x-form-search-trigger {
        border-radius: 44px;
        color: #35baf5;
      }
    }
    overflow: visible !important;
    .x-panel-body {
      height: 100% !important;
      border: none;
      overflow: visible !important;
      .x-tree-view {
        overflow: visible !important;

      }
      .x-grid-header-ct {
        overflow: visible !important;
      }
    }
  }
  .Wrapper-headerbar-titile {
    top: 0 !important;
    left: 45px !important;
    font-weight: 600 !important;
  }

  .Wrapper-headerbar-titile-icon {
    height: 20px;
    width: 4px;
    background-color: #36baf5;
    transform: translateY(-50%);
    left: 20px !important;
    &::before {
      position: absolute;
      right: -4px;
      top: 0;
      content: '';
      height: 20px;
      width: 2px;
      background-color: #36baf5;
    }
  }
}

.Wrapper-operation-area {
  .x-btn-default-small[class*="Wrapper-"] {
    background-color: #fff;
    &:active {
      background-color: #f1f1f1;
    }
  }
  .Wrapper-operation-area-button {
    border-color: #d9e0e6 !important;
    vertical-align: middle;
    margin-right: 10px;
    .displaymode {
      color: #71b35c;
    }
    .category {
      color: #f5c154;
    }
    .query {
      color: #5cb9f2;
    }
    .statistics {
      color: #e97637;
    }
    .form {
      color: #6dc9f0;
    }
    .roster {
      color: #f6c054;
    }
    .export {
      color: #5dc042;
    }
    .batch {
      color: #efce87;
    }
    .displaycontrol {
      color: #51adf6;
    }
  }
  .x-btn-wrap-default-small.x-btn-arrow-right:after {
    color: #919191 !important;
  }
  .x-autocontainer-innerCt {
    vertical-align: middle;
  }
  .x-btn-inner-default-small {
    color: #919191;
  }
  //----------
}

//--------------------------------headerbar-btn-tipbar----------------
.Wrapper-headerbar-btn-tipbar {
  background-color: #fff;
  border-color: #5eb9f0;
  //transform: translateX(-2.5%) translateY(-2.5%);
  left: 49.5% !important;
  top: 9.9% !important;
  padding: 0;

  td.x-table-layout-cell {
    border-bottom: 1px solid #ccc;
    .x-form-check-group {
      width: 120px !important;
      padding: 0 5px 0 5px;
    }
  }

  .x-tip-body-default {
    width: 100% !important;
    padding: 0 !important;
  }

  .Wrapper-headerbar-btn-tipbar-bottombar {
    right: 0;
    left: auto !important;
    overflow: visible!important;
    .x-box-inner{
      overflow: visible!important;
    }
    .Wrapper-headerbar-btn {
      line-height: 60px;
      float: right;
      height: 30px;
      width: 100px;
      border-radius: 5px;
      line-height: 60px;
      border: 0;
      margin-left: 20px;
      span {
        color: #fff !important;
      }
    }
    .Wrapper-headerbar-btn-more {
      background-color: #fff;
      position: absolute;
      top: 50%;
      left:-60%;
      height: 40px;
      border: 1px solid red;
      border-radius: 5px;
      span {
        color: red !important;
      }
      transform: translateY(-50%);
    }
  }
}

//--------------------------------right selectBar----------------
.Item-option {
  //background-color: gray;
}

[aria-expanded=true] .x-tree-elbow-img.x-tree-elbow-end-plus.x-tree-expander,
[aria-expanded=true] .x-tree-elbow-img.x-tree-elbow-plus.x-tree-expander {
  position: relative;
  &::before {
    width: 0;
    height: 0;
    content: '';
    border: 5px solid #36bbf4;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

[aria-expanded=false] .x-tree-elbow-img.x-tree-elbow-end-plus.x-tree-expander, [aria-expanded=false] .x-tree-elbow-img.x-tree-elbow-plus.x-tree-expander {
  position: relative;
  &::before {
    content: '';
    width: 7px;
    height: 7px;
    border: 0;
    background-color: #36bbf4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
  }
}

//http://docs.sencha.com/extjs/6.5.0/classic/Ext.data.NodeInterface.html

